@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lilita+One&family=Sedgwick+Ave+Display&family=Shantell+Sans:ital@1&display=swap');

body{
    background-color: rgb(90, 100, 90);
}

h1 {
    background-color: blueviolet;
    color: aliceblue;
    font-family: Bangers;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    border-style: solid;
    font-size: 50px;
    border-width: 5px;
    border-color: aquamarine;
}

body > div#topImage {
    display: block;
    margin: auto;
    object-fit: cover;
    align-self: center;
}

h3 {
    font-family: Sedgwick Ave Display;
    text-align: center;
}

h4 {
    font-family: Shantell Sans;
    text-align: center;
}

body > div#button{
    text-align: center;
}

body > div#button > button{
    font-family: Lilita One;
    padding: 10px;
    border: 10px;
    background-color: violet;
    border-radius: 10px;
    border-color: turquoise;
    transition: background-color .3s, color .3s;
}

body > div#button > button:hover{
    background-color: turquoise;
    color: beige;
    cursor: pointer;
}

.content{
    margin: 20px;
    border: 3px solid wheat;
    width: "1280";
    height: "720";
    background-color: black;
}

.content #choicesOne{
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: -20px;
    padding-top: -50px;
    background-color: red;
}
.content #choicesSecond{
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: -20px;
    padding-top: -50px;
    background-color: orange;
}
.content #choicesThird{
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: -20px;
    padding-top: -50px;
    background-color: yellow;
}
.content #choicesFourth{
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: -20px;
    padding-top: -50px;
    background-color: green;
}
.content #choicesFifth{
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: -20px;
    padding-top: -50px;
    background-color: blue;
}
.content #choicesSixth{
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: -20px;
    padding-top: -50px;
    background-color: indigo;
}
.content #choicesSeventh{
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: -20px;
    padding-top: -50px;
    background-color: violet;
}
.content #choicesEighth{
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: -20px;
    padding-top: -50px;
    background-color: brown;
}
.content #choicesNinth{
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: -20px;
    padding-top: -50px;
    background-color: pink;
}
.content #choicesTenth{
    text-align: center;
    color: black;
    margin: 20px;
    margin-top: -20px;
    padding-top: -50px;
    background-color: purple;
}

.content #firstAnswer, #secondAnswer, #thirdAnswer, #fourthAnswer, #fifthAnswer, #sixthAnswer, 
#seventhAnswer, #eighthAnswer, #ninthAnswer, #tenthAnswer{
    background-color: white;
    width: 350px;
    text-align: center;
}

.content #firstAnswerSub, #secondAnswerSub, #thirdAnswerSub, #fourthAnswerSub, #fifthAnswerSub,
    #sixthAnswerSub, #seventhAnswerSub, #eighthAnswerSub, #ninthAnswerSub, #tenthAnswerSub{
    font-family: Lilita One;
    border-radius: 5px;
    transition: background-color .3s, color .3s;
}
.content #firstAnswerSub:hover, #secondAnswerSub:hover, #thirdAnswerSub:hover, #fourthAnswerSub:hover,
    #fifthAnswerSub:hover, #sixthAnswerSub:hover, #seventhAnswerSub:hover, #eighthAnswerSub:hover,
    #ninthAnswerSub:hover, #tenthAnswerSub:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}